.main-container {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    
}

#qrtext-container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 0rem 1rem 4rem 1rem;/*  1rem == 16px  */
    text-align: center;
    max-width: 250px;
    width: 90%;
    max-height: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}

#qr-code {
    border-radius: 10px;
    margin: 1rem auto;
    width: 100%; /* Make the QR code fix exactly inside the parent  */
    max-width: 288px;
    height: auto;
    display: block;
}

#text1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2;
}

#text2 {
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.4;
    letter-spacing: 0.013rem;
}

